<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>134217728</title>

  <link href="style/cube.css" rel="stylesheet" type="text/css">
  <link href="style/3dtiles.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="meta/apple-touch-icon.png">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div class="container">
    <div class="heading">
      <h1 class="title">134217728</h1>
      <div class="scores-container">
        <div class="score-container">0</div>
        <div class="best-container">0</div>
      </div>
    </div>
    <p class="game-intro">Join the numbers and get the <strong>highest score</strong> in this page!</p>

    <div class="game-container">
      <div class="game-message">
        <p></p>
        <div class="lower">
	        <a class="keep-playing-button">Keep going</a>
          <a class="retry-button">Try again</a>
        </div>
      </div>

      <div class="grid-container">
        <div class="grid-inner">
          <div class="cube cube-1-1-1">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-1-1-2">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-1-1-3">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-1-2-1">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-1-2-2">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-1-2-3">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-1-3-1">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-1-3-2">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-1-3-3">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-2-1-1">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-2-1-2">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-2-1-3">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-2-2-1">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-2-2-2">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-2-2-3">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-2-3-1">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-2-3-2">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-2-3-3">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-3-1-1">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-3-1-2">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-3-1-3">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-3-2-1">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-3-2-2">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-3-2-3">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-3-3-1">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-3-3-2">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="cube cube-3-3-3">
            <div class="cube-face cube-face-u"></div>
            <div class="cube-face cube-face-d"></div>
            <div class="cube-face cube-face-l"></div>
            <div class="cube-face cube-face-r"></div>
            <div class="cube-face cube-face-f"></div>
            <div class="cube-face cube-face-b"></div>
          </div>
          <div class="tile-container">
          </div>
        </div>
      </div>
    </div>
    <div class="touch-buttons">
      <div class="button-group">
        <div class="touch-button tap" data-type="move" data-value="4">F</div>
        <div class="touch-button tap" data-type="move" data-value="5">B</div>
        <div class="touch-button tap" data-type="rotate">Rotate</div>
      </div>
      <div class="button-group">
        <div class="touch-button long-tap">1</div>
        <div class="touch-button long-tap">2</div>
        <div class="touch-button long-tap">3</div>
      </div>
    </div>

    <p class="game-explanation">
      <strong class="important">How to play:</strong> Use your <strong>arrow keys</strong> to move the tiles, any useless letter key to rotate, hold 1, 2 or 3 to hidden layers,. When two tiles with the same number touch, they <strong>merge into one!</strong>
    <br />
    <br />
      Can you reach <strong>4194304, 8388608, and 16777216 tiles?</strong>
    </p>
    <br />
    <p>
    Click here to go back to <a href="http://theastronomer.github.io/2147483648">2147483648.</a>
    </p>
  </div>
  <script src="js_cube/animframe_polyfill.js"></script>
  <script src="js_cube/keyboard_input_manager.js"></script>
  <script src="js_cube/html_actuator.js"></script>
  <script src="js_cube/grid.js"></script>
  <script src="js_cube/tile.js"></script>
  <script src="js_cube/local_score_manager.js"></script>
  <script src="js_cube/game_manager.js"></script>
  <script src="js_cube/application.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3512083-5', 'baiqiang.github.io');
  ga('send', 'pageview');

  </script>
</body>
</html>
