@import url(fonts/clear-sans.css);

html, body {
  margin: 0;
  padding: 0;
  background: #57407c;
  color: #ffffff;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; 
}

body {
  margin: 80px 0;
}

.container {
  width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; 
}

a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px;
}

.variants-list {
  margin-top: 40px;
  padding: 15px;
  background: #57407c;
  border-radius: 6px;
}

.variant {
  list-style: none;
  margin-bottom: 15px;
  border-radius: 10px; 
  padding: 15px;
  background: #57407c;
  -webkit-transition:	color .3s ease, background-color .3s ease;
  -moz-transition:		color .3s ease, background-color .3s ease;
  -o-transition:		color .3s ease, background-color .3s ease;
  transition:			color .3s ease, background-color .3s ease;

  -webkit-transform:	translate3d(0, 0, 0);
  -moz-transform:		translate3d(0, 0, 0);
  -o-transform:			translate3d(0, 0, 0);
  -transform:			translate3d(0, 0, 0);  
}

.variant:last-child {
    margin-bottom: 0;
}

.variant:hover {
    background: #3d2963;
}

.variant:nth-child(10n+1) {
	background: #41c9b8;
}

.variant:nth-child(10n+1):hover {
	background: #506c8f;
}

.variant:nth-child(10n+2) {
    background: #00b1a0;
}

.variant:nth-child(10n+2):hover {
    background: #087074;
}

.variant:nth-child(10n+3) {
    background: #ed5471; 
}

.variant:nth-child(10n+3):hover {
    background: #9a4977; 
}

.variant:nth-child(10n+4) {
    background: #d23769; 
}

.variant:nth-child(10n+4):hover {
    background: #db6c8e; 
}

.variant:nth-child(10n+5) {
    background: #b11562; 
}

.variant:nth-child(10n+5):hover {
    background: #e84e6f; 
} 

.variant:nth-child(10n+6) {
    background: #9e025d; 
}

.variant:nth-child(10n+6):hover {
    background: #ce3767; 
}

.variant:nth-child(10n+7) {
    background: #ffb33c;
}

.variant:nth-child(10n+7):hover {
    background: #b0845b;
}

.variant:nth-child(10n+8) {
    background: #f68731;
}

.variant:nth-child(10n+8):hover {
    background: #df542f;
}

.variant:nth-child(10n+9) {
    background: #e85938;
}

.variant:nth-child(10n+9):hover {
    background: #9c4d5c;
}

.variant a {
  color: white;
}

.contributing {
    margin-top: 50px;
}

.paypal-donate {
  display: inline-block;
}

@media screen and (max-width: 640px) {
  html, body {
    font-size: 15px; 
  }

  body {
    margin: 20px 0;
    padding: 0 20px; 
  }

  h1 {
    font-size: 27px;
    margin-top: 15px; 
  }

  .container {
    width: 280px;
    margin: 0 auto; 
  }

  .variants-list {
    padding: 10px;
  }

  .variant {
    margin-bottom: 10px;
    padding: 10px;
  }
}
