@import url(fonts/clear-sans.css);
html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; }

@font-face {
    font-family: "Clear Sans";
    src: url("ClearSans-Light-webfont.eot");
    src: url("ClearSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
         url("ClearSans-Light-webfont.svg#clear_sans_lightregular") format("svg"),
         url("ClearSans-Light-webfont.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Clear Sans";
    src: url("ClearSans-Regular-webfont.eot");
    src: url("ClearSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("ClearSans-Regular-webfont.svg#clear_sansregular") format("svg"),
         url("ClearSans-Regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Clear Sans";
    src: url("ClearSans-Bold-webfont.eot");
    src: url("ClearSans-Bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("ClearSans-Bold-webfont.svg#clear_sansbold") format("svg"),
         url("ClearSans-Bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

body {
  margin: 80px 0; }

.heading:after {
  content: "";
  display: block;
  clear: both; }

h1.title {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left; }

@-webkit-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }

@-moz-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }

@keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }

.scores-container {
  float: right;
  text-align: right; }

.score-container, .best-container {
  position: relative;
  display: inline-block;
  background: #bbada0;
  padding: 15px 25px;
  font-size: 25px;
  height: 25px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center; }
  .score-container:after, .best-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da; }
  .score-container .score-addition, .best-container .score-addition {
    position: absolute;
    right: 30px;
    color: red;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: rgba(119, 110, 101, 0.9);
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }

.score-container:after {
  content: "Score"; }

.best-container:after {
  content: "Best"; }

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; }

a {
  color: #776e65;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }

strong.important {
  text-transform: uppercase; }

hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px; }

.container {
  width: 716px;
  margin: 0 auto; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.game-container {
  margin-top: 40px;
  position: relative;
  padding: 15px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  background: #bbada0;
  border-radius: 6px;
  width: 716px;
  height: 642px;
  -ms-touch-action: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .game-container .game-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(238, 228, 218, 0.5);
    z-index: 100;
    text-align: center;
    -webkit-animation: fade-in 800ms ease 1200ms;
    -moz-animation: fade-in 800ms ease 1200ms;
    animation: fade-in 800ms ease 1200ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }
    .game-container .game-message p {
      font-size: 60px;
      font-weight: bold;
      height: 60px;
      line-height: 60px;
      margin-top: 222px; }
    .game-container .game-message .lower {
      display: block;
      margin-top: 59px; }
    .game-container .game-message a {
      display: inline-block;
      background: #8f7a66;
      border-radius: 3px;
      padding: 0 20px;
      text-decoration: none;
      color: #f9f6f2;
      height: 40px;
      line-height: 42px;
      margin-left: 9px; }
      .game-container .game-message a.keep-playing-button {
        display: none; }
    .game-container .game-message.game-won {
      background: rgba(237, 194, 46, 0.5);
      color: #f9f6f2; }
      .game-container .game-message.game-won a.keep-playing-button {
        display: inline-block; }
    .game-container .game-message.game-won, .game-container .game-message.game-over {
      display: block; }

.grid-container {
  position: absolute;
  z-index: 1; }

.grid-row {
  margin-bottom: 0px; }
  .grid-row:last-child {
    margin-bottom: 0; }
  .grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
  width: 121px;
  height: 121px;
  margin-right: 19px;
  float: left;
  border-radius: 50%;
  background: rgba(238, 228, 218, 0.35); }
  .grid-cell:last-child {
    margin-right: 19px; }

.empty-cell {
  width: 51px;
  height: 121px;
  float: left;
  margin-right: 19px;
  background: #bbada0; }
  .empty-cell:last-child {
    margin-right: 19px; }
 
.tile-container {
  position: absolute;
  z-index: 3; }

.tile, .tile .tile-inner {
  border-radius: 50%;
  width: 124px;
  height: 124px;
  line-height: 124px; }
.tile.tile-position-1-1 {
  -webkit-transform: translate(140px, 0px);
  -moz-transform: translate(140px, 0px);
  transform: translate(140px, 0px); }
.tile.tile-position-1-2 {
  -webkit-transform: translate(70px, 121px);
  -moz-transform: translate(70px, 121px);
  transform: translate(70px, 121px); }
.tile.tile-position-1-3 {
  -webkit-transform: translate(0px, 242px);
  -moz-transform: translate(0px, 242px);
  transform: translate(0px, 242px); }
.tile.tile-position-2-1 {
  -webkit-transform: translate(280px, 0px);
  -moz-transform: translate(280px, 0px);
  transform: translate(280px, 0px); }
.tile.tile-position-2-2 {
  -webkit-transform: translate(210px, 121px);
  -moz-transform: translate(210px, 121px);
  transform: translate(210px, 121px); }
.tile.tile-position-2-3 {
  -webkit-transform: translate(140px, 242px);
  -moz-transform: translate(140px, 242px);
  transform: translate(140px, 242px); }
.tile.tile-position-2-4 {
  -webkit-transform: translate(70px, 363px);
  -moz-transform: translate(70px, 363px);
  transform: translate(70px, 363px); }
.tile.tile-position-3-1 {
  -webkit-transform: translate(420px, 0px);
  -moz-transform: translate(420px, 0px);
  transform: translate(420px, 0px); }
.tile.tile-position-3-2 {
  -webkit-transform: translate(350px, 121px);
  -moz-transform: translate(350px, 121px);
  transform: translate(350px, 121px); }
.tile.tile-position-3-3 {
  -webkit-transform: translate(280px, 242px);
  -moz-transform: translate(280px, 242px);
  transform: translate(280px, 242px); }
.tile.tile-position-3-4 {
  -webkit-transform: translate(210px, 363px);
  -moz-transform: translate(210px, 363px);
  transform: translate(210px, 363px); }
.tile.tile-position-3-5 {
  -webkit-transform: translate(140px, 484px);
  -moz-transform: translate(140px, 484px);
  transform: translate(140px, 484px); }
.tile.tile-position-4-2 {
  -webkit-transform: translate(490px, 121px);
  -moz-transform: translate(490px, 121px);
  transform: translate(490px, 121px); }
.tile.tile-position-4-3 {
  -webkit-transform: translate(420px, 242px);
  -moz-transform: translate(420px, 242px);
  transform: translate(420px, 242px); }
.tile.tile-position-4-4 {
  -webkit-transform: translate(350px, 363px);
  -moz-transform: translate(350px, 363px);
  transform: translate(350px, 363px); }
.tile.tile-position-4-5 {
  -webkit-transform: translate(280px, 484px);
  -moz-transform: translate(280px, 484px);
  transform: translate(280px, 484px); } 
.tile.tile-position-5-3 {
  -webkit-transform: translate(560px, 242px);
  -moz-transform: translate(560px, 242px);
  transform: translate(560px, 242px); }
.tile.tile-position-5-4 {
  -webkit-transform: translate(490px, 363px);
  -moz-transform: translate(490px, 363px);
  transform: translate(490px, 363px); }
.tile.tile-position-5-5 {
  -webkit-transform: translate(420px, 484px);
  -moz-transform: translate(420px, 484px);
  transform: translate(420px, 484px); } 

.tile {
  position: absolute;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform; }
  .tile .tile-inner {
    border-radius: 50%;
    background: #eee4da;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 55px; }

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

.tile-new .tile-inner {
  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

.tile-merged .tile-inner {
  z-index: 20;
  -webkit-animation: pop 200ms ease 100ms;
  -moz-animation: pop 200ms ease 100ms;
  animation: pop 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.game-intro {
  margin-bottom: 0; }

.game-explanation {
  margin-top: 50px; }
